/*
 * carina erp v.1.03b
 * kardesyazilim.net istanbulmobile.net
 * Kardeş Yazılım ve Bilişim Hizmetleri
 * labs@kardesyazilim.net
 * labs.kardesyazilim.net
 * Oct 7, 2013 - 5:27:40 AM  / file name: [base] (base.css)
 * UTF-8 - markado - default
 * help doc : base - (base.css)
 */

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.eot');
    src: local('‚ò∫'), url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.ttf') format('truetype'), url('fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: local('‚ò∫'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('fonts/HelveticaNeue-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    background: #fff;
    color: #999;
    font-size: 100%; /* Base font size: 10px */
    font-family:'HelveticaNeue',Sans-Serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}
a{
    font-size: 1em;
}

/**/
#header{
    margin: 10px auto;
    height: 11.5em;
}

.quickmenu{
    height: 2em;

}
.quickmenu li{

    margin: 0;
    padding: 0 .5em;
    display:inline;
}
.quickmenu li:before { content: "»";  padding: 0.5em; font-size: 1.4em;color:#58585a}
.quickmenu li:first-child:before { content: "";  padding: 0; }
.quickmenu li a{

    font-size: 1.4em;
    font-weight: bold;
    color:#58585a;
    cursor: pointer;
    text-decoration: none;
}

.quickmenu li:hover,.quickmenu li:hover:before,.quickmenu li a:hover{
    color:#ed3431;
}

.quickmsg,.quicksearch{
    margin: 10px auto;
}
.quicksearch ul{
    width: auto;
    height: 37px;
}
.quicksearch ul li{
    display: inline;
    margin-left: 0.5em;

}
.quicksearch ul li a span.count{
    position: relative;
    top:-10px;
    left: 10px;
    font-size: 2em;
    background-color: #80cd00;
    color: #fff;
    border-radius: 100%;
    padding: .2em .4em .2em .4em;

}
.quicksearch ul li a span.count_c{
    position: relative;
    top:-7px;
    left: 7px;
    font-size: 2em;
    background-color: #80cd00;
    color: #fff;
    border-radius: 100%;
    padding: .2em .4em .2em .2em;

}
.quicksearch ul li a{
    text-decoration: none;

}
#mainMenu{

}

#mainMenu .container .row {
    margin: 0;
    padding: 0;
    background-color: #ed3431;
}

.catMenu{

    height: 2em;
    margin: 5px;
    padding: 0;
    font-family:'HelveticaNeue-Bold',Sans-Serif;
}
.catMenu li{
    display: inline;
}
.catMenu li a{
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}
.white{
    color: #fff;
}
.caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}


#centerArea{


}
#centerArea .container{

}
#centerArea .container .row {
    background-image: url('../img/page-bg.png');
    background-repeat: space;
    background-color: #f0f0f0;
    min-height: 660px;
    margin: 0;
    padding: 10px;
    background-position-x: 10px;
    background-position-y: 60px;

}
.leftmenu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.leftmenu li{
    background-color: #80cd00;   
    margin: 5px;
    font-size: 1.6em;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family:'HelveticaNeue-Bold',Sans-Serif;
    letter-spacing: 1px;
}
.leftmenu li:after{
  content:"icon";
    text-indent:-999em;
    display:block;
    width:20px;
    height:20px;
    background:url('../img/kulp.png') transparent no-repeat;
    margin:-1.4em 120px 0 100%; 
}
.leftmenu li:hover:after{
  content:"icon";
    text-indent:-999em;
    display:block;
    width:20px;
    height:20px;
    background:url('../img/kulp2.png') transparent no-repeat;
    margin:-1.4em 120px 0 100%; 
}
.leftmenu li a{
    color: #fff;
    text-decoration: none;
}
.leftmenu li:hover,.leftmenu li a:hover{
    background-color: #999;
}
.catinfo{
    position: relative;
        margin: 5px 0 5px 0 ;
        background-color: #ed3431;
        text-align: center;
        color: #fff;
        font-family:'HelveticaNeue-Bold',Sans-Serif;
        border: 4px solid #ed3431;
}

.catinfo:after, .catinfo:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.catinfo:after {
	border-color: rgba(237, 52, 49, 0);
	border-top-color: #ed3431;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
.catinfo:before {
	border-color: rgba(237, 52, 49, 0);
	border-top-color: #ed3431;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
#footer .container .row {
    background-image: url('../img/footer-bg.png');
    background-repeat: space;
    background-color: #e4e4e4;
    min-height: 360px;
    margin: 0;
    padding: 10px;
    background-position-x: 0px;
    background-position-y: 0px;
    border-top: 1px solid #999;
}
.footerMenu{
    list-style: none;
    
}
.footerMenu li:after{
   border: 1px solid red;
}
.footerMenu li a{
    color:#898989;
    font-size: 1.4em;
}